.subHeader {
  text-align: center;
  padding: 15px;
}

.subHeader h2 {
  margin-bottom: 10px;
  font-weight: 400;
}

.subHeader p {
  font-size: 1.6rem;
}


@media (min-width: 768px) {
  .subHeader p{
    max-width: 600px;
    margin: 0 auto;
  }
}



