button {
  font-family: var(--font-just-another-hand);
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  button:hover {
    border-color: var(--mc-color-green);
    color: var(--mc-color-green);
  }
  
  button:focus,
  button:focus-visible {
    outline: 4px auto var(--mc-color-green);
}